<% @page_title = "Delete Restaurant" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="container">
  <h2>Delete Restaurant</h2>

    <p>Are you sure you want to permanently delete this restaurant?</p>

    <p class="reference-name"><%= @restaurant.title %></p>
    <button type="button" class="btn btn-danger"><%= link_to "Delete restaurant", destroy_restaurant_path(@restaurant), method: 'DELETE' %></button>
    

  
</div>
