
<% @page_title = "New restaurant" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>



<div class="container">
  <h2>Create A New Restaurant</h2>

  <%= form_for(:restaurant, :url => {:action => 'create'}) do |f| %>
<%# using partial template _form  for new and edit view%>
    <%= render(:partial => "layouts/shared/form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create") %>
    </div>

  <% end %>
</div>
